*{
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background: white;
}

button {
    background: #cddc39 0%;
    border-radius: 8px;
    color: #474d71;
    cursor: pointer;
    font-size: 1.5em;
    letter-spacing: 0.21px;
    line-height: 1px;
    max-width: 255px;
    padding: 20px 52px;
    text-align: center;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear;
    margin-top: 1.6em;   
}

header {
    padding: 40px;
    text-align: center;
    background: #13293d;
    color: #fff;
    border-bottom:30px #879274;
}
  
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
  
section {
    flex: 0 auto;
    padding: 8px;
    margin-top: 25px;
    background-color: white;
    border-radius: 8px;
}

.large-font {
    font-size: 3.5em;
    text-align:center;
}
  
.card-hide {
    display: none;
    background-color:#eceff1;
    border: 1px solid #eceff1;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
     rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
    margin: 60px auto;
    padding: 20px;
    width: 80vw;   
}

.timer-card{
    display: none;
    float : right;
    background-color:#eceff1;
    border: 1px solid #030449;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
     rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
    margin: 60px auto;
    padding: 20px;
    height: 25px;        
}

.ul-card{
    background-color:#eceff1;
    border: 1px solid #65769b;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
     rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
    margin: 60px auto;
    padding: 20px;
    width: 60vw; 
}

.ul-text{
    width: 80%;
    list-style-position: inside;
    list-style-type: square;
}

li{
    background-color:#eceff1;
    border: 0.5px solid #eceff1;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
     rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
    margin: 15px auto;
    line-height: 2.5em;
    flex-grow: 1;
    font-family: Arial, Helvetica, sans-serif;
    color: darkblue;
    font-weight: bolder;  
    margin-left: 15px;  
}